@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

.loadingIconContainer {
    width: 20%;
    height: 20%;
}

.weatherContainer {
    font-family: 'Source Code Pro', monospace;
    display: flex;
     
}

.weatherDetails {
    display: flex;
    flex-direction: row;
}

.weatherIcon {
    height: auto;
    width: auto;
}

.temperatureText {
    font-weight: 600;
}

.locationName {
    font-weight: 600;
}


